/* General */
:root {
  --text-color: #0b1b48;
  --primary-color: #759eda;
  --secondary-color: #5879c7;
  --background-color: #9ccef4;
}

body{
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: var(--background-color);
}

/* Main Container */
.main--container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* Main Temp Display */
.body__main--weather{
  color: var(--text-color);
}
p{
  word-spacing: 6px;
}
.body__main--tempAddInfo{
  font-size: 10pt;
  display: flex;
  justify-content: center;
}
.body__main--tempAddInfo p{
  margin-left: 10px;
}
.body__main--tempContent{
  text-align: center;
  /* padding-top: 1rem; */
}
.body__main--tempInfo{
  text-align: center;
}
.body__main--tempImg{
  width:16%;
  height: 16%;
}
span{
  font-weight: bold;
}
.body__span--delete{
  word-spacing: 0;
  font-weight: normal;
}
.body__main--tempContent p {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Flex Container*/

.body__main--flex{
  display: flex;
  justify-content: space-around;
  margin: 1rem 3rem 0 3rem;
}

.body__main--flex > div {
  width: 100%;
  margin: 2.2rem;
  margin-bottom: 0;
  padding: 0;
}

time {
  display: block;
  text-align: center;
}

.body__main--flex p {
  text-align: center;
}

/* Mobile Sized Screen */

@media only screen and (max-width: 767px) {
  /* header */
  .header--container{
    display: flex;
    justify-content: space-between;
  }
  /* Main Weather */
  .body__main--weather{
  display: flex;
  text-align: justify;
  font-size: 9pt;
  }

  .body__main--tempImg{
  width: 80%;
  height: 80%;
  }

  .body__main--tempInfo{
  margin-top: 80px;
  }

  .body__main--imgPlaceholder {
  width: 42%;
  height: 20%;
  display: block;
  margin: 0 auto;
  } 

  /* Flex -Mobile */
  .body__main--flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }
  .body__main--flex > div {
    margin: 0;
  }
  .body__main--content:not(:nth-last-of-type(1)) {
      border-bottom:2px solid var(--secondary-color);
  }
  .body__main--content{
    display: flex;
  }
  time{
    margin-top: 70px;
  }
  .body__main--content p{
    margin-top: 70px;
  }
 .body__main--imgPlaceholder{
    width: 30%;
    height: 30%;
    padding: 10px 0px;
  }
}
